/*fonte da letra do título*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mr+Dafoe&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Isso é padrão pra colocar no CSS */
*{
    box-sizing: border-box;
}
body{
    margin: 0;

 }

 /*barra de navegação e logo*/
 .navbar{
    display: flex;
    flex-flow:row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
 }

 .logo{
    flex: 20%;
    /*border: 1px solid red;*/
    text-align: center;
    font-family: "Lobster", sans-serif;
    margin-left: 20%;
 }
  .menu{
    flex: 60%;
    /*border: 1px solid green;*/
    text-align: right;
    padding: 20px;
 }


 /*Editando os links*/
 .menu a {
    color: darkblue;
    text-decoration: none;
    font-size: 30px;
    padding: 20px 16px;
 }

 /*Quando o mouse estiver em cima*/
 .menu a:hover{
    color:black;
    border-top: 4px solid darkblue;
 }

 /* Design do botao fale conosco*/
 #botao{
    background: darkblue;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: orange;
}

.header{
    height: 600px;
    background: purple;
    display: flex;
    flex-flow: row wrap;
    background-image: linear-gradient(180deg, rgb(0, 96, 255), rgb(96, 0, 128));
}


.headline{
   flex: 40%;
   margin-left: 10%;
   /*border: 1px solid black;*/
   justify-content: center;
   align-content: center;
   /*background: red;*/
}

.headline h2{
   font-weight: 900;
   font-size: 28px;
   color: #180f4a;
   padding: 0;
   margin: 0;
     
}

.img-headline{
   margin-right: 10%;
   flex: 40%;
   /*border: 1px solid red;*/
   text-align: center;
   align-content: center;
   border-radius: 5px;
   /*background: blue;*/
}

.headline p{
   color: white;
   text-align: center;
   font-size: 15px;
}

/*Personalizando o botao "Contrate Agora*/
.botao-contrate{
   display: inline-block;
   background: orange;
   padding: 20px;
   color: white;
   text-transform: uppercase;
   border-radius: 5px;
   text-decoration: none;
   
}

.Login{
   display: inline-block;
   background: green;
   padding: 20px;
   color: white;
   border-radius: 5px;
   text-decoration: none;
   padding-right: 50px;
   padding-left: 50px;
   text-transform: uppercase;
   text-align: center;
}

.Login:hover{
   filter: brightness(0.85);
   background: green;
   
}

.botao-contrate:hover{
   filter: brightness(0.85);
}

section{
   display: inline-block;
   margin-top: 80p;
   /*border: 1px solid black;*/
   margin-left: 5%;
   margin-right: 5%;
   padding: 5%;
   width: 90%;
}

section h2{
   width: 100%;
   font-size: 50px;
   margin: 0;
    font-family: "Lobster", sans-serif;
   color: purple;
   text-align: center;

}

.serviços{
   display: inline-block;
   margin-top: 5%;
   text-align: center;
}

.card-text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-height: 450px; /* Limita a altura do card. Altere se necessário */
    overflow: auto; /* Adiciona barra de rolagem se o texto passar do limite */
    margin: 1%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.texto-oculto{
   display: none;
}

.card-text:hover{
   background: black;
   color: white;
   padding: 40px;
}

.card-text:hover img{
   display: none;

}

.card:hover .card-text{
   display: none;
}
/*Rodapé*/
footer{
   margin-top: 600px;
   height: 80px;
   background-image:linear-gradient(180deg, rgb(0, 96, 255), rgb(96, 0, 128));
}


.direitos{
   /*text-transform: uppercase;*/
   color: white;
}
/*55 minutos*/